/* Utils */ /*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: Roboto, sans-serif;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
}
body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 780px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* Components */
.advantages__boxicon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.advantages__items {
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .advantages__items {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__items {
    display: flex;
    justify-content: space-between;
  }
}
.advantages__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .advantages__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    width: calc((100% - 90px) / 4);
  }
}
.advantages__title {
  color: #212121;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages__text {
  line-height: 1.71;
}
.advantages__text:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .advantages__text {
    margin-bottom: 0px;
  }
}

.card {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card__list {
  border: 1px solid #eeeeee;
}
.card__list:hover, .card__list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .card__list {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card__list {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.card__title {
  padding: 20px 24px;
}
.card__name {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.card__link {
  color: inherit;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}
.card__focus {
  display: block;
}
.card__block {
  position: relative;
  overflow: hidden;
}

.overley:hover .overley__box, .overley:focus .overley__box {
  opacity: 1;
  transform: translateY(0%);
}
.overley__box {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  top: 0;
  left: 0;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.checkbox__input:checked + .checkbox__icon {
  background-color: #2196f3;
  border-color: transparent;
}
.checkbox__icon {
  position: absolute;
  left: 0px;
  width: 16px;
  height: 15px;
  background-color: transparent;
  background-size: contain;
  background-origin: border-box;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .checkbox__icon {
    left: 13px;
  }
}
.checkbox__contract {
  margin-left: 5px;
  color: #2196f3;
  text-decoration: underline;
}

.clients__title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    justify-content: center;
  }
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  height: 92px;
  cursor: pointer;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}
.clients__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}

.adressblok {
  font-style: normal;
}
.adressblok__contacts {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.adressblok__contact {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adressblok__contact:hover, .adressblok__contact:focus {
  color: #2196f3;
}
.adressblok__adress {
  color: #ffffff;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adressblok__adress:hover, .adressblok__adress:focus {
  color: #2196f3;
}

.socialblock__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .socialblock__items {
    display: flex;
  }
}
.socialblock__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socialblock__link:hover, .socialblock__link:focus {
  background-color: #2196f3;
}
.socialblock__icon {
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: inline-flex;
    justify-content: center;
  }
}
.subscribe__input {
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
}
@media screen and (min-width: 768px) {
  .subscribe__input {
    display: block;
    margin: 0 auto;
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    min-width: 358px;
    height: 50px;
  }
}
.subscribe__btn-send {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  font-family: inherit;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: #2196f3;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.06em;
  padding: 10px 28px;
  margin-top: 20px;
}
.subscribe__btn-send:hover, .subscribe__btn-send:focus {
  background-color: #188ce8;
}
@media screen and (min-width: 1200px) {
  .subscribe__btn-send {
    margin-left: 12px;
    margin-top: 0px;
  }
}
.subscribe__icon {
  fill: #ffffff;
  margin-left: 8px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__box {
    display: flex;
    align-items: baseline;
  }
}
.footer__info {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer__info {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__info {
    display: flex;
    align-items: baseline;
    margin-bottom: 0;
  }
}
.footer__adressblok {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__adressblok {
    margin: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__adressblok {
    text-align: start;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}
.footer__socialblock {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__socialblock {
    margin: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__socialblock {
    margin-left: 70px;
    text-align: start;
  }
}
.footer__titel {
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__titel {
    text-align: start;
  }
}
.footer__subscribe {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__subscribe {
    margin-left: 93px;
  }
}
.footer .adressblok__adress {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .header__box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header__box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.header .current {
  color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}
.header__icon {
  margin-right: 10px;
}
.header__item-mail {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .header__item-mail {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__item-mail {
    margin-bottom: 0px;
  }
}

.nav {
  display: none;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
  }
}
.nav .link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav .link:hover, .nav .link:focus {
  color: #2196f3;
}

.contacts {
  display: none;
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
  }
}
.contacts .link {
  display: flex;
  align-items: center;
  color: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contacts .link {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
  }
}
.contacts .link:hover, .contacts .link:focus {
  color: #2196f3;
}

.navigate__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.navigate__contact, .navigate__mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    min-height: 600px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("/images/hero@2x.jpg");
  }
}
.hero__section {
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .hero__section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  max-width: 360px;
  margin: 0 auto;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.03em;
  }
}
.hero__button {
  display: inline-block;
  min-width: 216px;
  min-width: 200px;
  font-family: inherit;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: #2196f3;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.03em;
  padding: 10px 32px;
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.header__logo {
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.logo-accent {
  color: #2196f3;
}

.footer__logo {
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 20px;
}

.mobile__menu {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.mobile__container {
  visibility: visible;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  outline: 1px solid red;
  background-color: rgb(252, 253, 253);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .mobile__container {
    display: none;
  }
}
.mobile__container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transform: translateX(0%);
}
@media screen and (min-width: 768px) {
  .mobile__icon-open {
    display: none;
  }
}
.mobile__container-block {
  position: relative;
  max-width: 480px;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
}
.mobile__container-block .mobile__menu {
  position: absolute;
  top: 13px;
  right: 15px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile__nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
  margin-bottom: auto;
}
.mobile__item-nav:not(:last-child) {
  margin-bottom: 32px;
}
.mobile__item-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-bottom: 64px;
}
.mobile__item-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 32px;
}
.mobile__social {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mobile__separator {
  margin-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.is-hidden {
  visibility: visible;
  opacity: 0;
  pointer-events: none;
}

.modal__window {
  position: absolute;
  top: 400px;
  left: 50%;
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 479px) {
  .modal__window {
    width: 320px;
    height: 600px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__window {
    width: 528px;
    height: 581px;
  }
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #212121;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover, .modal__close:focus {
  fill: #2196f3;
}
.modal__form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.modal__form-titel {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__form-titel {
    line-height: 1.15;
  }
}
.modal__inputs {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.modal__input-label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.modal__input {
  max-height: 40px;
  padding: 11px 15px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border-color: #2196f3;
}
.modal__input:focus ~ .input-icon {
  fill: #2196f3;
}
.modal__text-input {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__text-input:focus {
  border-color: #2196f3;
}
.modal__text-input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__text-input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__text-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__checkbox {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}
@media screen and (max-width: 479px) {
  .modal__checkbox {
    font-size: 7px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 1200px) {
  .modal__checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}
.modal__btn-send {
  margin: auto;
  min-width: 200px;
  min-width: 200px;
  font-family: inherit;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: #2196f3;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.06em;
  padding: 10px 52px;
}
.modal__btn-send:hover, .modal__btn-send:focus {
  background-color: #188ce8;
}

.input-icon {
  position: absolute;
  top: 14px;
  left: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourteam {
  background-color: #f5f4fa;
}
.ourteam__title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .ourteam__title {
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
  }
}

.team {
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    display: flex;
  }
}
.team__card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .team__card + .team__card {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__card {
    width: calc((100% - 30px) / 2);
    margin: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    width: calc((100% - 90px) / 4);
    margin: 0px;
  }
}
.team__title {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team__job {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.social__link {
  fill: currentColor;
}

.portfolio__filter {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio__filter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
}
.portfolio__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 6px 22px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button:hover, .portfolio__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
}

.services {
  display: none;
  padding-top: 0px;
}
@media screen and (min-width: 1200px) {
  .services {
    display: block;
  }
}
.services__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.services__list {
  display: flex;
  justify-content: space-between;
}
.services__thumb {
  position: relative;
  z-index: -1;
}
.services__img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}/*# sourceMappingURL=main.css.map */