.advantages {

  &__boxicon {
    @include centerFlex;
    margin-bottom: 30px;
    height: 120px;
    background-color: getColor('secondary-background-color');
    border-radius: 4px; 
  }

  &__items {
    gap: 30px;
    
    @include for-tablet {
        @include wrapFlex;
    }

    @include for-desktop {
      @include centerRowFlex ($justify-content: space-between);
    }
    
  }

  &__item {
    width: 100%;

    @include for-tablet {
      width: calc((100% - 30px)/2);
    }

    @include for-desktop {
        width: calc((100% - 90px)/4);
      }
  }

  &__title {
    color: getColor('secondary-text-color');
    font-weight: 700;
    font-size: inherit;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__text {
    line-height: 1.71;
    
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @include for-desktop {
      margin-bottom: 0px;
    }
  }
}