.footer {
  background-color: getColor('footer-background-color');
  padding-top: 60px;
  padding-bottom: 60px;

  &__box {
    @include centerColumnFlex ($align-items: baseline);
  }

  &__socialblock {
    margin-left: 70px;
  }

  &__titel {
    font-weight: 700;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor('white-text-color');
    margin-bottom: 20px;
  }

  &__subscribe {
    margin-left: 93px;
  }

  .adressblok__adress {
    color: getColor('white-text-color');
    transition: color 250ms $prymary-time-func;
  }
}