.subscribe {

  &__form {

    @include for-desktop {
      @include centerRowFlex ($type: inline-flex);
    }
  }

  &__input {
    width: 100%;
    color: getColor('footer-input-color');
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    background-color: transparent;
    border: 1px solid getColor('footer-input-border');
    border-radius: 4px;
    padding: 15px 16px;

    @include for-tablet {
      display: block;
      margin: 0 auto;
      max-width: 450px;
    }

    @include for-desktop {
      min-width: 358px;
      height: 50px;
      }
    }

  &__btn-send {
    @include centerFlex ($type: inline-flex);
    @include button;
    letter-spacing: 0.06em;
    padding: 10px 28px;
    margin-top: 20px;
  
    &:hover, &:focus {
      background-color: getColor('button-active-color');
    }

    @include for-desktop {
      margin-left: 12px;
      margin-top: 0px;
    }
  }

  &__icon {
    fill: getColor('modal-background-color');
    margin-left: 8px;
  }
}