.header {
  border-bottom: 1px solid getColor('header-border-bottom');

  &__box {
    @include for-tablet {
      @include centerFlex ($justify-content: flex-start);
    }
    @include for-desktop {
      @include centerFlex ($justify-content: flex-start);
    }
    
  }
  
  .current {
    color: getColor('accent-color');
    transition: background-color 250ms $prymary-time-func;

    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      display: block;
      width: 100%;
      height: 4px;
      background-color: getColor('accent-color');
      border-radius: 2px;
    }
  }

  &__icon {
    margin-right: 10px;
  }
  
  &__item-mail {
    margin: 0;

    @include for-tablet {
      margin-bottom: 10px;
    }
    @include for-desktop {
      margin-bottom: 0px;
    }
  }
  
}

.nav {
  display: none;
  gap: 50px;

  @include for-tablet {
    @include centerColumnFlex;
  }

  .link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: getColor('secondary-text-color');
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms $prymary-time-func;

    &:hover, &:focus {
      color: getColor('accent-color');
    }
  }
}

.contacts {
  display: none;
  gap: 50px;

  @include for-tablet {
      display: block;
    }

  @include for-desktop {
    @include centerColumnFlex;
  }

  .link {
    @include centerColumnFlex;
    color: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-decoration: none;
    fill: currentColor;
    transition: color 250ms $prymary-time-func;

    @include for-desktop {
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
    }
  
    &:hover, &:focus {
      color: getColor('accent-color');
    }
  }
}

.navigate {

  &__menu {
    @include centerFlex ($justify-content: space-between);
    flex-grow: 1;
  }

  &__contact, &__mobile{
    @include centerFlex ($justify-content: space-between);
  }
}