.mobile {

  &__menu {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;

  }

  &__container {
    @include is-hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    outline: 1px solid red;
    background-color: rgb(252, 253, 253);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms $prymary-time-func,
      opacity 250ms $prymary-time-func,
      visibility 250ms $prymary-time-func;

    @include for-tablet {
      display: none;
    }

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: initial;
      transform: translateX(0%);
    }
  }

  &__icon-open {

    @include for-tablet {
      display: none;
    }
  }

  &__container-block {
    position: relative;
    max-width: 480px;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto; 
    padding: 48px 40px;
    display: flex;
    flex-direction: column;

    .mobile__menu {
      position: absolute;
      top: 13px;
      right: 15px;
      transition: transform 250ms $prymary-time-func;
    }
  }

  &__nav {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: getColor('secondary-text-color');
    margin-bottom: auto;
  }

  &__item-nav:not(:last-child) {
    margin-bottom: 32px;
  }

  &__item-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: getColor('accent-color');
    margin-bottom: 64px;
  }

  &__item-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: getColor('primary-text-color');
    margin-bottom: 32px;
  }

  &__social {
    @include centerFlex ($justify-content: flex-start, $align-items: flex-end);
    gap: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: getColor('accent-color');
  }

  &__separator {
    margin-left: 10px;
    border-left: 1px solid getColor('mobile-separator');
  }
}