.ourteam {
  background-color: getColor('secondary-background-color');

  &__title {
      color: getColor('secondary-text-color');
      font-weight: 700;
      font-size: 28px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-align: center;
      margin-bottom: 30px;

    @include for-desktop {
      @include title
    }
  }
}

.team {
  gap: 30px;

  @include for-tablet {
    @include wrapFlex;
  }
      
  @include for-desktop {
    display: flex;
  }

  &__card {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;

    &+.team__card {
      @media screen and (max-width: 767px) {
        margin-top: 30px;
      }
    }

    @include for-tablet {
      width: calc((100% - 30px)/2);
      margin: 0px;
    }
        
    @include for-desktop {
      width: calc((100% - 90px)/4);
      margin: 0px;
    }
  }
    
  &__title {
    background-color: getColor('white-text-color');
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  &__name {
    color: getColor('secondary-text-color');
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }

  &__job {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }

  &__socials {
    @include centerFlex;
    gap: 10px;
  }
}


.social {
  &__link {
    @include centerFlex;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    color: getColor('client-logo-color');
    transition: color 250ms $prymary-time-func,
      background-color 250ms $prymary-time-func;

    &:hover, &:focus {
      background-color: getColor('accent-color');
      color: getColor('white-text-color');
    }
  }
       
  &__link {
    fill: currentColor;
  }
}




