body {
  font-family: $font;
  color: getColor('primary-text-color');
  font-size: $primary-size;
  font-weight: $primary-weight;

  &.modal-open {
    overflow: hidden;
  }
}

;

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  @include reset-indent
}

img {
  @include img
}

.container {
  @include container; 

    @include for-phone {
      width: 480px;
    }
    @include for-tablet {
      width: 768px;
    }
    @include for-desktop {
      width: 1200px;
    }
}

.section {
  padding-top: $secondary-indent;
  padding-bottom: $secondary-indent;

    @include for-desktop {
      padding-top: $primary-indent;
      padding-bottom: $primary-indent;
    }
}

.list {
  @include list
}

.link {
  @include link
}

.visually-hidden {
  @include not-visible
}